<main class="">
  

    <section class="about-content ">
        <div class="about-section d-flex justify-content-between my-5">
            <div>

            <h2>Our Story</h2>
            <p>StoreName was founded with the mission to provide high-quality products at affordable prices. We started our journey in [Year] with the vision of becoming a leading store in the industry.</p>
        
        </div>
        <img src="../../../assets/images/about1.png">
        </div>
        <div class="about-section d-flex justify-content-between mb-4">
            <img src="../../../assets/images/about2.jpg">
            <div class="mx-5">
                <h2>Our Mission</h2>
                <p>Our mission is to deliver exceptional products that enhance our customers' lives. We are committed to quality, value, and customer satisfaction.</p>
           
            </div>
           
        </div>
       
       
    </section>
</main>