.profile{
    margin-top: 140px;
   
    box-shadow: 3px 4px 8px #1c1d20;
}
.profile img{
    margin-top: -120px;
    margin-left: 430px;
}
.buttons{
    margin-top: -100px;
}
.edit_btn{
    background-color: #1c1d20;
    color: #dbe0e3 ;
}
.order_btn{
    background-color: #F1A7A6;
    color: #dbe0e3;
}
.order_count p:nth-of-type(1){
    margin-top: 70px;
}
.order_count p:nth-of-type(2){
    margin-top: -20px;
    font-weight: bold;
}
.info{
    margin: 20rem;
}

.edit_form{
    width: 450px;
    margin: auto;
}

.my_Orders{
    margin-top: 100px;

}
.my_Orders .order_item {
    width: 70vw;
    margin: auto;
}
.orders_table{
    background-color: transparent !important;
    width: 60vw;
    margin: auto;
}