<div class="container mt-4">
    <h2>Your Cart</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.title }}</td>
          <td><img [src]="getImageUrl(item.image)" alt="{{ item.title }}" style="width: 100px;"></td>
          <td>{{ item.price | currency }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click)="decrementQuantity(item)">-</button>
            {{ item.quantity }}
            <button class="btn btn-secondary btn-sm" (click)="incrementQuantity(item)">+</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteItem(item)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4">
      <button class="btn btn-primary" (click)="checkout()">Proceed to Checkout</button>
    </div>
  </div>
  