
    <div class="about-section w-50 m-auto my-5">
        <h2 class="mt-3 mb-4">Contact Us</h2>
        <p>If you have any questions or need further information, feel free to contact us at:</p>
        <ul class="list-unstyled">
            <li><i class="bi bi-envelope"></i><b>Email: </b> support&#64;E-shop.com</li>
            <li><i class="bi bi-telephone-fill"></i><b>Phone:</b> (123) 456-7890</li>
            <li><i class="bi bi-geo-alt-fill"></i><b>Address:</b> 123 Store St, City, Country</li>
        </ul>
    </div>

