<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card">
      
        <img style="height: 300px;" class="card-img-top" [src]="getImageUrl(product.image)" alt="{{ product.title }}" class="card-img-top product-image">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.details }}</p>
            <p class="card-text"><small class="text-muted">{{ product.price | currency }}</small></p>
          </div>
        
        <div class="card-footer bg-white">
          <button class="btn btn-outline-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
