<!-- src/app/products/components/allproducts/allproducts.component.html -->
<div class="container mt-3">
  <div class="row mb-4">
    <div class="col">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search products" class="form-control" />
    </div>
    <div class="col">
      <button (click)="searchProducts()" class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <img [src]="getImageUrl(product.image)" class="card-img-top" [alt]="product.title">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.details }}</p>
          <p class="card-text">{{ product.price | currency }}</p>
          <button (click)="addToCart(product)" class="btn btn-success">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
